/* Eric Myer's Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* SCAPES Styles */
body {
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
  background-color: #DDDDDD;
}
h1 {
  font-size: 300%;
}
h2{
  font-size: 200%;
}
h3{
  font-size: 150%;
}
h4{
  font-size: 125%;
}

input[type=submit] {
  background-color: #4D90FE;
  border: 1px solid transparent;
  color: white;
  padding: 0;
  border-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  min-width: 75px;
  font: inherit;
  line-height: 25px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

td {
  text-align: right;
}

td:nth-child(-n+3) {
  text-align: center;
}

.visualization-info {
  display: inline-block;
  vertical-align: top;
  margin-right: 80px;
}

.visualization canvas {
  display: inline-block;
  border: 1px;
}

.user1 {
  color: rgb(255, 255, 255);
}

.user2 {
  color: rgb(150, 150, 150);
}

.user3 {
  color: rgb(50, 50, 50);
}
