body {
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
  background-color: #DDDDDD;
}

input {
  background-color: #4D90FE;
  border: 1px solid transparent;
  color: white;
  padding: 0;
  border-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  min-width: 75px;
  font: inherit;
  line-height: 25px;
}

.visualization-info {
  display: inline-block;
  vertical-align: top;
  margin-right: 80px;
}

.visualization canvas {
  display: inline-block;
  border: 1px;
}

.user1 {
  color: rgb(255, 255, 255);
}

.user2 {
  color: rgb(150, 150, 150);
}

.user3 {
  color: rgb(50, 50, 50);
}
