<!doctype html>
<html ng-app="scapes">
  <head>
    <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script
        src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
    </script>
    <script
        src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js">
    </script>
    <script
        src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.min.js">
    </script>
    <link href="/styles/scapes.css" rel="stylesheet">
    <script src="/js/scapes-compiled.js"></script>
  </head>
  <body ng-controller="HomeCtrl" ng-include="'/partials/home.html'"></body>
</html>

