<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script>
      window.onload = function() {
      };
    </script>
    <script src="http://www.html5canvastutorials.com/libraries/kinetic-v3.5.1.js">
    </script>
    <script>
      function writeMessage(stage, message) {
        var context = stage.getContext();
        stage.clear();
        context.font = "18pt Helvetica";
        context.fillStyle = "black";
        context.fillText(message, 10, 25);
      }

      function canvasTutorial() {
        // http://www.html5canvastutorials.com/tutorials
        var canvas = document.getElementById("myCanvas");
        var context = canvas.getContext("2d");

        context.moveTo(100, 150);
        context.lineTo(450, 50);
        context.lineWidth = 15;
        context.strokeStyle = "#ff0000";
        context.stroke();

        // butt line cap (top line)
        context.beginPath();
        context.moveTo(200, canvas.height / 2 - 50);
        context.lineTo(canvas.width - 200, canvas.height / 2 - 50);
        context.lineWidth = 20;
        context.strokeStyle = "#0000ff"; // line color
        context.lineCap = "butt";
        context.stroke();

        // round line cap (middle line)
        context.beginPath();
        context.moveTo(200, canvas.height / 2);
        context.lineTo(canvas.width - 200, canvas.height / 2);
        context.lineWidth = 20;
        context.strokeStyle = "#0000ff"; // line color
        context.lineCap = "round";
        context.stroke();

        // square line cap (bottom line)
        context.beginPath();
        context.moveTo(200, canvas.height / 2 + 50);
        context.lineTo(canvas.width - 200, canvas.height / 2 + 50);
        context.lineWidth = 20;
        context.strokeStyle = "#0000ff"; // line color
        context.lineCap = "square";
        context.stroke();

        var topLeftCornerX = 20;
        var topLeftCornerY = 50;
        var width = 200;
        var height = 100;

        context.beginPath();
        context.rect(topLeftCornerX, topLeftCornerY, width, height);
        context.fillStyle = "#8ED6FF";
        context.fill();
        context.lineWidth = 5;
        context.strokeStyle = "black";
        context.stroke();

        var x = 150;
        var y = 100;

        context.fillStyle = "#000000";
        context.font = "40pt Helvetica";
        context.fillText("Hello World!", x, y);
      }

      function kineticTutorial() {
          var stage = new Kinetic.Stage("container", 578, 200);

          var triangle = new Kinetic.Shape(function(){
              var context = this.getContext();
              context.beginPath();
              context.lineWidth = 4;
              context.strokeStyle = "black";
              context.fillStyle = "#00D2FF";
              context.moveTo(120, 50);
              context.lineTo(250, 80);
              context.lineTo(150, 170);
              context.closePath();
              context.fill();
              context.stroke();
          });

          triangle.on("touchmove", function() {
            var touchPos = stage.getTouchPos();
            var x = touchPos.x - 120;
            var y = touchPos.y - 50;
            writeMessage(stage, "x: " + x + ", y: " + y);
          });

          triangle.on("mouseout", function(){
              writeMessage(stage, "Mouseout triangle");
          });

          triangle.on("mousemove", function(){
              var mousePos = stage.getMousePos();
              var x = mousePos.x - 120;
              var y = mousePos.y - 50;
              writeMessage(stage, "x: " + x + ", y: " + y);
          });

          stage.add(triangle);

          var circle = new Kinetic.Shape(function(){
              var canvas = this.getCanvas();
              var context = this.getContext();
              context.beginPath();
              context.arc(380, canvas.height / 2, 70, 0, Math.PI * 2, true);
              context.fillStyle = "red";
              context.fill();
              context.lineWidth = 4;
              context.stroke();
          });

          circle.on("mouseover", function(){
              writeMessage(stage, "Mouseover circle");
          });
          circle.on("mouseout", function(){
              writeMessage(stage, "Mouseout circle");
          });
          circle.on("mousedown", function(){
              writeMessage(stage, "Mousedown circle");
          });
          circle.on("mouseup", function(){
              writeMessage(stage, "Mouseup circle");
          });

          circle.on("touchstart", function() {
            writeMessage(stage, "Touchstart circle");
          });

          circle.on("touchend", function() {
            writeMessage(stage, "Touchend circle");
          });

          stage.add(circle);
      }

      window.onload = function() {
        canvasTutorial();
        kineticTutorial();
      };
    </script>

  </head>
  <body>
    <canvas id="myCanvas" width="578" height="200"></canvas>
    <div id="container"></div>
  </body>
</html>
