{% extends "templates/defaultLayout.html" %}
{% block content %}
  <div class="index-container2">
    <div class="index-main">
      <div class="list-header">
        <h1>Document List</h1>
        <span>Choose a document to analyze</span>
      </div>
      <div class="resources"></div>
      <script>
        {% for resourceLink in resourceLinks %}
          $.ajax({
            type: "GET",
            url: "/requestAResource",
            data: {
              resourceLink: '{{ resourceLink }}'
            },
            beforeSend: createLoadResourceToDomFunction({{loop.index}}),
            success: createAddResourceToDomFunction(".resource-{{ loop.index }}")
          });
        {% endfor %}
      </script>
    </div>
  </div>
{% endblock %}
