{% extends "templates/defaultLayout.html" %}
{% block head %}
  <script src="/js/processing-1.3.6.min.js"></script>
{% endblock %}
{% block content %}
  <script type="text/javascript">
    setRevisionCount(7);
  </script>
  <h1>Revision History Visualization</h1>
  <div class="visualization">
    <div class="visualization-info">
      <p class="user1">Michael</p>
      <p class="user2">Grace</p>
      <p class="user3">Danielle</p>
    </div>
    <canvas data-processing-sources="/pde/docsRevision.pde"></canvas>
  </div>
  <div id="msg"></div>
{% endblock %}
