{% extends "templates/defaultLayout.html" %}
{% block head %}
  <script src="/js/processing-1.3.6.min.js"></script>
{% endblock %}
{% block content %}

  <script type="text/javascript">
    setRevisionCount({{ revisionCount }});
  </script>
  <h1>Analysis of Document</h2>

  <h2>Mocked Revision History Visualilzation</h2>
  <div class="visualization">
    <div class="visualization-info">
      <p class="user1">Michael</p>
      <p class="user2">Grace</p>
      <p class="user3">Danielle</p>
    </div>
    <canvas data-processing-sources="/pde/docsRevision.pde"></canvas>
  </div>

  <h2>Document Tags</h2>
  {% for documentTag in documentTags %}
    <div class="document-tag">
      {{ documentTag.content|escape }}
    </div>
  {% endfor %}
  <form action="/tagDocument" method="post">
    <div><textarea name="content" rows="3" cols="60"></textarea></div>
    <div><input type="submit" value="Add Tag"></div>
  </form>

  <h2>Raw Diffs</h2>
  <div class="raw-diffs">
    {% for diff in diffs %}
      <div class="diff">
        <h3>Revision {{ loop.index }}, Last Edited: {{ diff[1] }}</h3>
        <p>Words Added: , Words Deleted: </p>
        <pre>
          {# TODO(someone?) Figure out why you have to decode #}
          {{ diff[0].decode("utf-8") }}
        </pre>
      </div>
    {% endfor %}
  </div>
{% endblock %}
